<!-- Wrapper starts here -->
<div class="wrapper" id="admin">   
  <div class="headerDeep">
    <h1>Step form clone controller</h1>
      <ul>
        <li><div id="name"></div></li>
        <li> | <a href="#">Logout</a></li>
      </ul>
  </div>    
  <!-- Admin tabs starts here -->
  <div class="adminTabs adminReviewTabs">
    <!-- Waiting for data -->
    <div class="waitingForAction">
      <h2>Loading step forms status....</h2>
    </div>   
    <!-- First tab content starts here -->
    <div class="tabContent" >
      <div class="adminSection">
        <div class="currentExperiments">
          <h1 data-bind="text: getCloneMessage()"></h1>
          <p>&nbsp;</p>
          <p>Please note: it is possible to clone a form onto itself - in effect the operation is ignored. More importantly, cloning a form onto another will erase the old definition. Using this page gives no second chance, so please be careful when cloning.          </p>
          <p>&nbsp;</p>
          <div class="formWrapper">
            <div class="pageWrapper" data-bind="foreach: experiments ">
              <div class="formRow dark">
                <h2 data-bind="click: toggleExptAccordion, attr: cloneFormsAccordionOpen() === '1' ? { 'class' : 'exptAccordion open' } : { 'class' : 'exptAccordion closed' }, text: getExptHeader()" ></h2>
              </div>
              <div class="formRow dark" data-bind="visible: exptAccordionVisible , foreach: forms">
                <div class="formRow light">
                  <label data-bind="text: formName"></label>
                  <label data-bind="text: partPopulatedText, attr: partPopulated() === '1' ? {'class':'warning'} : {'class':'nowarning'}">junk</label>
                  <label data-bind="text: definitionCompleteText, attr: definitionComplete() === '1' ? {'class':'warning'} : {'class':'nowarning'}">junk</label>
                  <label>clone to here</label>
                  <input type="checkbox" class="checkboxButton" data-bind="checked: cloneToHere">                
                </div>              
              </div>
              <div class="formRow light">
                <label class="warning">An item above</label> highlighted like this has been previously configured, so be careful when cloning onto such an item.
                <br/>
                <label class="nowarning">An item above</label> highlighted like this can be cloned onto without worry.
                <input type="submit" value="perform clone" class="buttonBlue right"/>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First tab content ends here -->
  </div>
  <!-- Admin tabs ends here -->      
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/ko/knockout-3.2.0.js"></script>
<script type="text/javascript" src="/js/ko/ko-mapping.js"></script>
<script type="text/javascript" src="/js/admin/formCloneController.js"></script>
</body>
</html>
