/* mh augmentation of jqm theme for buttons uses as accordions */
.accordionHeader {
    background-color: #b6c5b7;
    border-radius: 10px;
    color: #030303;
    text-shadow: none;
    padding: 10px 0 10px 40px;
    font-size: 1em;
    line-height: 1.3;
    text-align: left;
}

.accordionHolder {
    padding: 2px;
    border: 1px solid #d8e5d3;
    background-color: #f3f3f3;
    border-radius: 25px;
    font-family: sans-serif;
}
.accordionContent {
    padding: 5px;
    border: #3e3e3e;
    background-color: #f3f3f3;
    border-radius: 25px;
}
.optionRow {
    background-color: #d0dbd3;
    margin-bottom: 2px;
    padding-left: 5px;
    border-radius: 10px;
}
/*.optionButton {*/
/*  width: 45%;*/
/*}*/

.controlHolder {
    padding-left: 50px ;
    padding-top: 10px;
    align-content: center;
}
