	<div data-role="page" data-theme="a" id="exptConfigurePage">
		<div data-role="header" data-position="inline">
      <h1 id="mainHeader" >CSV download</h1>
		</div>
		<div data-role="content" data-theme="a">
      <div id="container">
        The data has been downloaded as a .csv file
      </div>
		</div>
    <div data-role="footer" data-position="inline" data-tap-toggle="false">
      <div data-role="navbar">
        <ul>
          <li><a id="backBmain" href="#" data-icon="carat-l">back</a></li>
        </ul>
      </div>
    </div>
	</div>
	<script src="/jquery/jquery-2.1.3.min.js"></script>
  <script src="/js/ko/knockout-3.2.0.js"></script>
  <script src="/js/ko/ko-mapping.js"></script>
	<script src="/jquery-mobile/jquery.mobile.overrides.js"></script>  
	<script src="/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="/jquery-mobile/page.modifiers.js"></script>
  <script src="/js/mobile/adminNavigate.js"></script>
  <script src="/js/tools/neDownloadQuant.js"></script>
</body>
</html>
