<!-- Wrapper starts here -->
<div class="wrapper" id="admin">
  <div class="headerDeep">
    <div id="exptTitle">
      <h1>Experiment Control: <span>Step1 live status</span></h1>
    </div>
    <ul>
      <!--<li><a href="#">Return to overview</a></li> -->
      <li><a id="backB" href="#">Back</a></li>
    </ul>
  </div>

    
  <!-- control tabs starts here -->
   <div class="adminTabs">    	
      <!-- First tab -->
    <div id="tabOne" class="tab">Step 1</div>       
      <!-- First tab content starts here -->
      <div id="tabOneContent" class="tabContent">
        <div class="adminsection">
          <div class="step1Control" style="display:block">
            <!-- will inject the expt info into here -->
            <div id="step1ExptTables">

            </div>
          </div>
        </div>
      </div>
    </div>
   <!-- tabs end here -->

     
  <!-- control status page - becomes visible when a STEP1 allocation session is started -->
  <div id="statusPage" class="adminContent tabContent">
    <h2 class="open">Session Controls</h2>
    <div id="connectionControls">
      <div id="startSessionID" class="outer">
        <div class="innerL"><input id="allowStartB" class="buttonBlue greyed" disabled="disabled" value="start STEP1 session" /></div>
        <div class="innerR">start the session</div>
      </div>
      <div id="controlNextID" class="outer">
        <div class="innerL"><input id="finalQB" class="buttonBlue " value="next question is last" /></div>
        <div class="innerR">send signal to the listener that "no more Q" button should be enabled during next judging</div>
      </div>
      <div id="closeSessionID" class="outer">
        <div class="innerL"><input id="closeSessionB" class="buttonBlue" value="close session" /></div>
        <div class="innerR">close this completed session<p>The session has internally been marked as complete and is ready for review</p></div>
      </div>
      <div id="discardSessionID" class="outer">
        <div class="innerL"><input id="discardSessionB" class="buttonBlue " value="discard session" /></div>
        <div class="innerR">close this active session and discard partial data<p>The session will be available for re-use</p></div>
      </div>
    </div>
    <div id="connectionStatus"  class="outer" style="display:none">
      <div class="connectionList">
        <div class="OddConnectionHolder">
          <h3>Expected odd connections:</h3>
          <p>live connection status</p>
          <div class="OddConnections"></div>
        </div>
        <div class="EvenConnectionHolder">
          <h3>Expected even connections:</h3>
          <p>live connection status</p>
          <div class="EvenConnections"></div>
        </div>                              
      </div>
    </div>
  </div>
    
  <div id="dialog-close" title="Close session!">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin: 0 7px 20px 0;"></span>Are you sure you want to stop this session running?</p>
  </div>
  <div id="dialog-discard" title="Discard session!">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin: 0 7px 20px 0;"></span>Are you sure you want to discard this session?</p>
  </div>


  <!-- invisible divs to keep stage status etc -->    
  <div id="configStage"></div> 
  <div id="timer1"></div>
  <div id="timer2"></div>
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/mobile/adminNavigate.js"></script>
<script type="text/javascript" src="/js/wsockets/igrtwebsocket.js"></script>
<script type="text/javascript" src="/js/wsockets/wsServerAdmin.js"></script>
</body>
</html>