	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>Imgame</h1>
		</div>
		<div data-role="content" data-theme="a">
      
      
      
		</div>
    <div data-role="footer" data-position="inline" data-tap-toggle="false">
      <h1>~~~~~~~~~~~~</h1>
    </div>
	</div>
	<script src="/jquery/jquery-2.1.3.min.js"></script>
  <!--
    use these for form validation, but only when using standard forms
	<script src="/jquery-validation/jquery.validate.min.js"></script>
	<script src="/jquery-validation/additional-methods.min.js"></script>
  -->
  
  <!-- use these if the page uses KO-JS
  <script type="text/javascript" src="/js/ko/knockout-3.2.0.js"></script>
  <script type="text/javascript" src="/js/ko/ko-mapping.js"></script>
  -->
  
	<script src="/jquery-mobile/jquery.mobile.overrides.js"></script>  
	<script src="/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="/jquery-mobile/page.modifiers.js"></script>
  
  <!-- page-specific js goes here -->
</body>
</html>