	<div data-role="page" data-theme="a" id="exptConfigurePage">
		<div data-role="header" data-position="inline">
			<h1 id="mainHeader">Step3 shuffle status</h1>
		</div>
		<div data-role="content" data-theme="a">
      <div id="container">
        <div data-role="collapsible">
          <h4>TBT shuffle</h4>
          <div data-bind="foreach: s4judges">
            <div data-role="collapsible">
              <h4 data-bind="text: 'judge# '+s4jNo()+1"></h4>
              <div>
                <div data-bind="foreach: exptIds">
                  <h5 data-bind="text: exptId()"></h5>
                  <div data-bind="html: formattedIgs()"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>
    <div data-role="footer" data-position="inline" data-tap-toggle="false">
      <div data-role="navbar">
        <ul>
          <li><a id="backB" href="#" data-icon="carat-l">back</a></li>
          <li><a id="refreshB" href="#" data-icon="refresh">reload this page</a></li>
        </ul>
      </div>
    </div>
  </div>
<script src="/jquery/jquery-2.1.3.min.js"></script>
<script src="/js/ko//knockout-3.2.0.js"></script>
<script src="/js/ko/ko-mapping.js"></script>
<script src="/jquery-mobile/jquery.mobile.overrides.js"></script>  
<script src="/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
<script src="/jquery-mobile/page.modifiers.js"></script>
<script src="/js/mobile/adminNavigate.js"></script>
<script src="/js/step3/tbtShuffleStatus.js"></script>
</body>
</html>
