<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imgame home page</title>
	<link rel="stylesheet" href="/jquery-themes/imgame.min.css" />
	<link rel="stylesheet" href="/jquery-mobile/jquery.mobile.icons-1.4.5.min.css" />
	<link rel="stylesheet" href="/jquery-mobile/jquery.mobile.structure-1.4.5.min.css" />
  <link href="/mobile-css/1024.css" rel="stylesheet" media="screen and (min-width: 1024px)" />
</head>
<body>
	<div data-role="page" data-theme="a" data-cache="false">
		<div data-role="header" data-position="inline">
			<h1>Imgame</h1>
		</div>
		<div data-role="content" data-theme="a">
      <form id="loginForm" method="post" action="/index.php">
        <h4>Login failed - please try or again, or register if you have not already done so</h4>
        <fieldset>
          <div data-role="fieldcontain">
            <label for="userName">username</label>
            <input type="email" id="userName" name="username" required />
          </div>
          <div data-role="fieldcontain">
            <label for="pw">password</label>
            <input type="password" id="pw" name="password" minlength="5" required />
          </div>
          <input type="hidden" value="1" name="action" />
          <input type="hidden" value="1" name="process" />
        </fieldset>
        <input type="submit" data-role="button" id="loginB" value="Login"/>        
      </form>
      <form id="registerForm" method="post" action="/index.php">
        <div data-role="collapsible">
          <h4>Register now</h4>
          <p>If you have not previously registered to participate, we just need a few details from you to get started.</p>
          <fieldset>
            <div data-role="fieldcontain">
              <label for="fName">first name</label>
              <input type="text" id="fName" name="fName" required/>
            </div>
            <div data-role="fieldcontain">
              <label for="lName">last name</label>
              <input type="text" id="lName" name="lName" required/>
            </div>
            <div data-role="fieldcontain">
              <label for="regUserName">username</label>
              <input type="email" placeholder="username@domain.com" id="regUserName" name="regUserName" required/>
            </div>
            <div data-role="fieldcontain">
              <label for="pw1">password</label>
              <input type="password" id="pw1" name="pw1" required/>
              <p>Your password must be a minimum of 5 characters, and should contain a mixture of alpha-numeric symbols</p>
            </div>
            <div data-role="fieldcontain">
              <label for="pw2">confirm password</label>
              <input type="password" id="pw2" name="pw2" required/>
            </div>
            <input type="hidden" value="0" name="action" />
            <input type="hidden" value="1" name="process" />
          </fieldset>
          <input type="submit" data-role="button" id="registerB" value="Register"/> 
        </div>
      </form>
		</div>
    <div data-role="footer" data-position="inline" data-tap-toggle="false">
      <h1>~~~~~~~~~~~~</h1>
    </div>
	</div>
	<script src="/jquery/jquery-2.1.3.min.js"></script>
	<script src="/jquery-mobile/jquery.mobile.overrides.js"></script>  
	<script src="/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
	<script src="/jquery-mobile/page.modifiers.js"></script>
	<script src="/jquery-validation/jquery.validate.min.js"></script>
	<script src="/jquery-validation/additional-methods.min.js"></script>
	<script src="/js/global/loginRegister.js"></script>
</body>
</html>