<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imgame password request unauthenticated</title>
    <link rel="stylesheet" href="/jquery-themes/imgame.min.css" />
    <link rel="stylesheet" href="/jquery-mobile/jquery.mobile.icons-1.4.5.min.css" />
    <link rel="stylesheet" href="/jquery-mobile/jquery.mobile.structure-1.4.5.min.css" />
    <link rel="stylesheet" href="/jquery-themes/jqmOverrides.css" />
    <link href="/mobile-css/1024.css" rel="stylesheet" media="screen and (min-width: 1024px)" />
</head>
<body>
<div data-role="page" data-theme="a" data-cache="false">
    <div data-role="header" data-position="inline">
        <h1>Imgame password request unauthenticated</h1>
    </div>
    <div data-role="content" data-theme="a">
        <fieldset>
            <p>A password request link has been used but the parameters are incorrect. The link may have expired, please try to reset on the main imgame page again.</p>
            <p><a href="http://imgame1.cf.ac.uk/index.php">Login</a></p>
        </fieldset>
    </div>
    <div data-role="footer" data-position="inline" data-tap-toggle="false">
        <h1>~~~~~~~~~~~~</h1>
    </div>
</div>
<script src="/jquery/jquery-2.1.3.min.js"></script>
<script src="/jquery-mobile/jquery.mobile.overrides.js"></script>
<script src="/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
<script src="/jquery-mobile/page.modifiers.js"></script>
<script src="/jquery-validation/jquery.validate.min.js"></script>
<script src="/jquery-validation/additional-methods.min.js"></script>
<script src="/js/global/loginRegister.js"></script>
</body>
</html>