/*-------------------------------------------------------------------------
Imgame - 1024px resolution.
Created by Joseph Gallagher.
July 2012
-------------------------------------------------------------------------*/

.s4turn {
  margin: 20px 0px 0px 0px;
}

.s4result {
  font-weight: bold;
  font-size: 1.4em;
}

.wrapper {
	width: 980px;
	margin: 50px auto;
}

.gameTabs .tab {
	height: 40px;
	width: 129px;
	padding: 9px 20px 0 40px;
}

.adminTabs .tab {
	height: 33px;
	width: 139px;
	padding: 20px 10px 0 35px;
}

.adminTabs.adminReviewTabs .tab {
	height: 40px;
	width: 139px;
	padding: 13px 10px 0 35px;
}

.adminTabs.adminReviewTabs #tab1 {
	left: 148px;
}

.adminTabs.adminReviewTabs #tab2 {
	left: 286px;
}

.gameTabs #tabTwo, .adminTabs #tab3 {
	left: 199px;
}

.gameTabs #tabThree, .adminTabs #tab4 {
	left: 388px;
}

.gameTabs #tabFour, .adminTabs #tab5 {
	left: 578px;
}

.statusPods li:nth-child(4n+4) {
	margin: 2% 0 0 0;
}

.adminContent {
	background: #fff;
	border: #666666 8px solid;
	width: 924px;
	padding: 20px;
	clear: both;
	display: inline-block;
}

.adminTabs .tabContent {
	clear: both;
	position: absolute;
	top: 64px;
	left: 0;
	background: #fff;
	border: #666666 8px solid;
	width: 924px;
	padding: 20px;
	display: none;
}