<!-- Wrapper starts here -->
<div class="wrapper" id="admin">
    <div class="headerDeep">
        <div id="exptTitle">
            <h1>Experiment Options: <span>inverted Step2 data download</span></h1>
        </div>
        <div id="summaryHeaderDetails">
            <ul>
                <!--<placeholder for injected content -->
                <li><a href="#">Logout</a></li>
                <li><div id="name"></div></li>
            </ul>
        </div>
    </div>
   <!-- control tabs starts here -->
    <div class="adminTabs">    	
        <!-- First tab content starts here -->
        <div id="tabOneContent" class="tabContent">
            <div class="adminsection">
                <div id="sessionList" class="formRow light">
                </div>
            </div>
        </div>
    </div>
   <div id="configStage" class="login"></div>
    <!-- tabs end here -->
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/step2inverted/iStep2RawList.js"></script>
</body>
</html>