<div class="wrapper" id="startButtonWrapper">
  <div class="adminContent">
    <div id="step4_judgeNumberMsg"></div>
    <div id="step4_startMsg">
      <p><strong>Please confirm you have read the instructions. Click on "Start" when ready.</strong></p>
    </div>
    <input id="startB" type="Submit" value="Start" class="buttonBlue">
  </div>
</div>
  
<!-- Step4 Expt Wrapper starts here -->
<div class="wrapper" id="step4Wrapper">
  <!-- div to inject warning message (e.g. double-login) -->
    <div id="warning"></div>
    <!-- Game tabs starts here -->
    <div class="gameTabs">
        <!-- First tab -->
    	<div id="tabOne" class="tab empty">J</div>
        <!-- First tab content starts here -->
        <div id="judgeContent" class="tabContent">          
        </div>
        <!-- First tab content ends here -->	
    </div>
    <!-- Game tabs ends here -->
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/step4/neStep4RunController.js"></script>
</body>
</html>