<!-- Wrapper starts here -->
<div class="wrapper" id="admin">
    <div class="adminContent" id="formSection">  
       <h2>Holding page ready for Step4 odd/even selection for balancer start</h2>
        <div id="preControl"></div> 
        <div id="postControl"></div>
    </div>
</div>
<div class="wrapper" id="step2Wrapper"> 
    <!-- Game tabs starts here -->
    <div class="gameTabs">        
     <!-- Pretender tab -->
     
     <!-- Third tab content starts here -->
     <div id="pretenderContent" class="tabContent">
       <!-- waiting state content starts here (added MH) -->
       <div class="waitingPage" id="pWaitMsg">
           
       </div>
       <!-- waiting state content ends here -->
      </div>
     <!-- Third tab content ends here -->
   </div>
   <!-- Game tabs ends here -->
</div>
<!-- Wrapper ends here -->
<div id="timer"></div>
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.min.js"></script>
</body>
</html>