<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Imgame STEP4 Holding page</title>
<link rel="stylesheet" type="text/css" media="Screen" href="/css/basicAdmin.css">
<link rel="stylesheet" type="text/css" media="Screen" href="/css/basic.css" />
<link href="/css/0-479.css" rel="stylesheet" media="screen and (min-width: 0px) and (max-width: 479px)" />
<link href="/css/480.css" rel="stylesheet" media="screen and (max-width: 480px)" />
<link href="/css/481-1023.css" rel="stylesheet" media="screen and (min-width: 481px) and (max-width: 1023px)" />
<link href="/css/1024.css" rel="stylesheet" media="screen and (min-width: 1024px)" />

<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" media="Screen" href="css/ie.css" />
<![endif]-->

</head>

<body>
