<!-- Wrapper starts here -->
<div class="wrapper" id="admin">
    
    <div class="headerDeep">
    	<h1>Admin: TBT linked experiment monitor</h1>
        <ul>
            <li><div id="name"></div></li>
            <li> | <a href="#">Logout</a></li>
        </ul>
    </div>
    
    <!-- Admin tabs starts here -->
    <div class="adminTabs adminReviewTabs">
   <!-- Waiting for data -->
  <div class="waitingForAction">
      <h2>Loading TBT linked-experiment transcripts.....</h2>
  </div>
    
<!-- First tab content starts here -->
  <div class="tabContent adminReviewContent">
    <h2>TBT status</h2>
    <!-- ko foreach: s4judges -->
    <div class="adminReview adminSection" >
      <h2 class="noBorder open" data-bind="click: toggleView, attr: isVisible() ? {'class': 'open' } : {'class': 'closed' }, text: 'S4 judge:' + getS4jNoLabel() + '(' + url() + ') percentage complete:' + percentFinished() + '%'"></h2>
      <div class="transcriptsWrapper" data-bind="visible: isVisible">
        <div class="formRow dark" data-bind="foreach: transcripts">
          <div class="formRow light">
            <h3 data-bind="click:toggleTranscript, attr: transcriptVisible() ? {'class': 'open'} : {'class': 'closed'}, 
              style: {color: colorCode()}, text:' expt-source.igNo.qNo:' + exptId() + '.' + jNo() + '.' + qNo() "></h3>
              <br />
            <div class="s4turn" data-bind="visible: transcriptVisible">
              <div class="previousQuestions">
                <p><strong data-bind="text: q"></strong></p>  
                <table width="100%">
                  <tr><td width="50%" data-bind="text: r1Header()"><td width="50%" data-bind="text: r2Header()"></td></tr>
                  <tr><td width="50%" data-bind="text: r1()"><td width="50%" data-bind="text: r2()"></td></tr>
                  <tr><td width="50%" data-bind="text: alignment1()"><td width="50%" data-bind="text: alignment2()"></td></tr>
                </table>
              </div> 
              <div class="s4result formRow light" data-bind="visible: rpVisible()">
                <div data-bind="html: getReason()"></div>
                <div data-bind="html: getIntention()"></div>
                <div data-bind="html: getConfidence()"></div>
                <div data-bind="html: getCorrect()"></div>                
              </div>
            </div>
          </div>
        </div>     
      </div>

    </div>
    <!-- /ko -->
  </div>
        <!-- First tab content ends here -->
</div>
    <!-- Admin tabs ends here -->
      
</div>
<!-- Wrapper ends here -->

<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/ko/knockout-3.2.0.js"></script>
<script type="text/javascript" src="/js/ko/ko-mapping.js"></script>
<script type="text/javascript" src="/js/step4/tbtMonitor.js"></script>
</body>
</html>