<!-- Wrapper starts here -->
<div class="wrapper" id="admin">   
  <div class="headerShallow">
    <h1>Imgame survey response</h1>
  </div>    
  <!-- Admin tabs starts here -->
  <div class="adminTabs">
    <!-- First tab content starts here -->
    <div class="tabContent" style="display: block">
      <div class="adminSection">
        <div class="runtime">
          <!-- form messages -->
          <div class="formRow dark">
            <h3 id="messageHolder">hello world</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- First tab content ends here -->
  </div>
  <!-- Admin tabs ends here -->      
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.js"></script>
<script type="text/javascript" src="/js/forms/ineligibleResponse.js"></script>
</body>
</html>
