<div class="wrapper" id="admin">
  <div class="headerDeep">
      <div id="exptTitle">
          <h1>Step2: <span>manual balancing</span></h1>
      </div>
      <div id="summaryHeaderDetails">
          <ul>
              <!--<placeholder for injected content -->
              <li><div id="name">step2 admin</div></li>
          </ul>
      </div>
  </div>
  <div class="adminTabs">    	
     <!-- First tab -->
    <div id="tabOne" class="tab">X pretenders</div>       
    <!-- First tab content starts here -->
    <div id="tabOneContent" class="tabContent">
      <div class="adminsection">
        <h2>X pretender links</h2> 
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_07C4Fw46dxIEUYt">xP01 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_5C2Dvj6IV6nJyxn">xP02 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_byfk2M4bimY66C9">xP03 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6X4Nqx15jHUPPzn">xP04 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_79G9ujjjqrRkKS9">xP05 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_ehWioNZAUghrFdz">xP06 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_8q727FBcOvaY82F">xP07 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0U04FnKcq4rGIFD">xP08 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1Ul33HBWKgkQprn">xP09 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_8JvtnFu0aqawg8l">xP10 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_bDHtH8OtloOg56Z">xP11 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1B5KIjtWxFhy2Nv">xP12 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_bjyxNX1LCrbaWGh">xP13 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0oIxiMEOwYUVS8B">xP14 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_5droEaNQKHDcefr">xP15 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_eqXmd5qRkgXi8e1">xP16 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6m2emHiXxiz3oBT">xP17 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1A3aFzaH5nTa7Fr">xP18 survey</a>              
        </div>
      </div>
    </div>
    <!-- First tab -->
    <div id="tabTwo" class="tab">Y pretenders</div>       
    <!-- First tab content starts here -->
    <div id="tabTwoContent" class="tabContent">
      <div class="adminsection">
        <h2>Y pretender links</h2> 
        <div class="formRow dark">
          <a href="#">yP01 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP02 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP03 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP04 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP05 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP06 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP07 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP08 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP09 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP10 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP11 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP12 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP13 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP14 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP15 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP16 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP17 survey</a>              
        </div>
      </div>
    </div>
  </div>
</div>
  

<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/step2/step2AdminPage.js"></script>
</body>
</html>