<div class="wrapper" id="admin">
  <div class="headerDeep">
      <div id="exptTitle">
          <h1>Step2: <span>controller</span></h1>
      </div>
      <div id="summaryHeaderDetails">
          <ul>
              <!--<placeholder for injected content -->
              <li><div id="name">step2 admin</div></li>
          </ul>
      </div>
  </div>
  <div class="adminTabs">    	
    <!-- First tab -->
    <div id="tabOne" class="tab">Step2 Links</div>       
    <!-- First tab content starts here -->
    <div id="tabOneContent" class="tabContent">
      <div class="adminsection">
        <h2>Links for the 2 types of questionnaires.</h2> 
        <div class="formRow dark">
          <a href="/chicosFinal.php">chicos</a>              
        </div>
       <div class="formRow light">
          <a href="/chicasFinal.php">chicas</a>              
        </div>
      </div>
    </div>
    <!-- First tab -->
    <div id="tabTwo" class="tab">Female ppts</div>       
    <!-- First tab content starts here -->
    <div id="tabTwoContent" class="tabContent">
      <div class="adminsection">
        <h2>M Links</h2> 
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6RaXOZIF5d8ZdWJ">M01 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">M02 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0uCQ5UZmOKDeuRn">M03 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0GsakHRhqVBqtdH">M04 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9mErzGtDgaVBblX">M05 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_eUHuwRsUBZpSsWF">M06 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_d4pGUogDmJDN1R3">M07 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1H0RtbPAL9vn6G9">M08 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0SWVXz8cI8wDtkh">M09 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6nxZExTPGmNaJyR">M10 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_bawhOuhej6Wl0Oh">M11 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1yLOOT3UnkW1cBD">M12 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_3gaJbKxKZSAQG9L">M13 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_3rDn3iZ9F825OzH">M14 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1AC6yXFHMFSWa8t">M15 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6nzzNXep08FGo8l">M16 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_agfvTZTQD39Y6sR">M17 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_5AdxYFQoaKhJmPb">M18 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_agh93BH2Tc0mc9T">M19 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_eksm1i4Cs34OP8p">M20 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_8xnkzT5VPjuaNNj">M21 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_2tUakJzstXCq9HD">M22 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_02igBapvUm3GUUl">M23 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_2ry345uBUlYrHnv">M24 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_aWCa9RnoArwjnUN">M25 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_50VgcDdgDAtP2Qd">M26 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0BPig8wnWmiFxmR">M27survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_3lYl9A3c8RWNVIx">M28 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">M29 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">M30 survey</a>              
        </div>
      </div>
    </div>
    <!-- First tab -->
    <div id="tabThree" class="tab">Male ppts</div>       
    <!-- First tab content starts here -->
    <div id="tabThreeContent" class="tabContent">
      <div class="adminsection">
        <h2>F Links</h2> 
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6JyhRC0udWfrewl">F01 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_aYqjiHYXwrXOoqV">F02 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_265kYrK6kQO4c61">F03 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">F04 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_eA35us1IWciY8QJ">F05 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_ddtsSmUvGWldp4x">F06 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_09zd48ZvdEz0T1r">F07 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1TdCme0mYQyu8KN">F08 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6mpn3GQgkudqpmJ">F09 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_5dlzknlFZL8L1SB">F10 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6QIUCvXcK8aSQ3H">F11 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_4YqW7hrpad0myJ7">F12 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_2364pJiuvPiCzWZ">F13 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_5zhlxNNriwqevTD">F14 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_25ZFA0gB8nh3nOl">F15 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_4PLz5PpG2Anb3Jr">F16 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_dmMtgrLyKNidEXz">F17 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_3I5X5Z52wBGzVyt">F18 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_aad8ymoOoqH2kmx">F19 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_2re1t6R6iNjUynX">F20 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_cS02CFaPX2yQ9uZ">F21 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0id6AkdHkKNjCdL">F22 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9AWBDbuJ0MF5Vul">F23 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_a03ppYVrzkU5FyJ">F24 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9GgIvnMjqi5oW3P">F25 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9ZepqVe6zwb1nmd">F26 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_6F4cBZnXkBSc3Ot">F27 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9yGaEXqyA0IYG2x">F28 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_b2CPsG2qGSXo3e5">F29 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0wh0jVemMkNJbMN">F30 survey</a>              
        </div>
      </div>
    </div>
  </div>
</div>
  

<!-- Wrapper ends here -->
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/js/step2/step2AdminPage.js"></script>
</body>
</html>