<div class="wrapper" id="admin">
  <div class="headerDeep">
      <div id="exptTitle">
          <h1>Step2: <span>manual balancing</span></h1>
      </div>
      <div id="summaryHeaderDetails">
          <ul>
              <!--<placeholder for injected content -->
              <li><div id="name">step2 admin</div></li>
          </ul>
      </div>
  </div>
  <div class="adminTabs">    	
     <!-- First tab -->
    <div id="tabOne" class="tab">X pretenders</div>       
    <!-- First tab content starts here -->
    <div id="tabOneContent" class="tabContent">
      <div class="adminsection">
        <h2>X pretender links</h2> 
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_8wDVSg8haCBpDrT">ig01 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_dmnchAGOInlqhdr">ig02 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9SMstc68bn2tMCp">ig03 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1Moqk6CVwvmWA9T">ig04 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0vJxbQbvjZahqx7">ig05 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_80ny7gyK321Fuqp">ig06 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_8p2qYLy82V7iqz3">ig07 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1HoyF3Hooe5weup">ig08 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_elIGQzjCRRH1BOJ">ig09 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_2itI4ifaiS3Ji9D">ig10 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_e5ORSKpYqIeimDb">ig11 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_5ckTFEZRhHFPJJP">ig12 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_3HN7wwWpRs3jQTH">ig13 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_e2Tnutho7ViR3kF">ig14 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_1X1IqMjzZ4HXwvb">ig15 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_b2FTVneTiskkcwl">ig16 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_0lEqHOHt4hwRpNH">ig17 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_cUSGRQEeFQn24VD">ig18 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_7OmvIyilbySP0Tb">ig19 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_d7mr3yDjCrg5RZj">ig20 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_39Hjb36rpXZ0Yx7">ig21 survey</a>              
        </div>
        <div class="formRow light">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_eai47Vp3Ux6zsW1">ig22 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="http://cardiff.qualtrics.com/SE/?SID=SV_9FdsiCMkvOcA6AR">ig23 survey</a>              
        </div>
      </div>
    </div>
    <!-- First tab -->
    <div id="tabTwo" class="tab">Y pretenders</div>       
    <!-- First tab content starts here -->
    <div id="tabTwoContent" class="tabContent">
      <div class="adminsection">
        <h2>Y pretender links</h2> 
        <div class="formRow dark">
          <a href="#">yP01 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP02 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP03 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP04 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP05 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP06 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP07 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP08 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP09 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP10 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP11 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP12 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP13 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP14 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP15 survey</a>              
        </div>
        <div class="formRow light">
          <a href="#">yP16 survey</a>              
        </div>
        <div class="formRow dark">
          <a href="#">yP17 survey</a>              
        </div>
      </div>
    </div>
  </div>
</div>
  

<!-- Wrapper ends here -->
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/js/step2/step2AdminPage.js"></script>
</body>
</html>