<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imgame 3-role data</title>
	<link rel="stylesheet" href="/jquery-themes/imgame.min.css" />
	<link rel="stylesheet" href="/jquery-themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="/jquery-mobile/jquery.mobile.structure-1.4.5.min.css" />
  <link href="/mobile-css/1024.css" rel="stylesheet" media="screen and (min-width: 1024px)" />
</head>
<body>
	<div data-role="page" data-theme="a" data-cache="false">
		<div data-role="header" data-position="inline">
			<h1>Imgame classic experiment data view</h1>
		</div>
		<div data-role="content" data-theme="a">
      <h2>Classic experiments</h2>
      <div id="container">
      </div>
		</div>
	</div>
	<script src="/jquery/jquery-2.1.3.min.js"></script>
  <script src="/js/ko/knockout-3.2.0.js"></script>
  <script src="/js/ko/ko-mapping.js"></script>
	<script src="/jquery-mobile/jquery.mobile.overrides.js"></script>  
	<script src="/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
  <script src="/js/mobile/adminNavigate.js"></script>
	<script src="/jquery-mobile/page.modifiers.js"></script>
	<script src="/js/classic/dataView.js"></script>
</body>
</html>