<!-- Wrapper starts here -->
<div class="wrapper" id="admin">   
  <div class="headerDeep">
    <h1>Data download: S1-QS grouped by S2 respondent</h1>
      <ul>
        <li><div id="name"></div></li>
        <li><a id = "BackButton" href="#"><<< Back</a></li>
      </ul>
  </div>    
  <!-- Admin tabs starts here -->
  <div class="adminTabs adminReviewTabs">
    <!-- Waiting for data -->
    <div class="waitingForAction">
      <h2>Loading step2 data.....</h2>
    </div>   
    <!-- First tab content starts here -->
    <div class="tabContent" >
      <div class="adminSection">
        <div data-bind="text: exptTitle()"></div>
        <div data-bind="text: jTypeLabel() + ' interrogators'"></div>
        <div data-bind="foreach: S1QS">
          <div data-bind="text: 'S1 QS: ' + actualJNo()"></div>
          <div data-bind="text: 'day: ' + dayNo()"></div>
          <div data-bind="text: 'session: ' + sessionNo()"></div>
          <div data-bind="foreach: questions">
            <div data-bind="text: qNo() + ' - ' + q()"></div>
            <div data-bind="foreach: s2ppts">
              <div data-bind="text: 'R' + pptNo() + ' ' + reply()"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First tab content ends here -->
  </div>
  <!-- Admin tabs ends here -->      
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/ko/knockout-3.2.0.js"></script>
<script type="text/javascript" src="/js/ko/ko-mapping.js"></script>
<script type="text/javascript" src="/js/step2/step2QSRespondents.js"></script>
<script type="text/javascript" src="/js/mobile/adminNavigate.js"></script>
</body>
</html>
