   <!-- control tabs starts here -->
    <div class="adminTabs">    	
        <!-- First tab -->
    	<div id="tabOne" class="tab">Step2 Respondents</div>       
        <!-- First tab content starts here -->
        <div id="tabOneContent" class="tabContent">
            <div class="adminSection">
                <div id="step2RespondentDetail">
                </div>
            </div>
        </div>
    </div>
   <div id="configStage" class="login"></div>
    <!-- tabs end here -->
</div>
<!-- Wrapper ends here -->
<script type="text/javascript" src="/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/jquery-ui-1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/step2/step2MonitorDetail.js"></script>
</body>
</html>